---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";

// Filter blog entries with 'draft: false' & date before current date
const publishedBlogEntries = await getCollection("blog", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

// Sort content entries by publication date
publishedBlogEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});
---

<Layout title="Blog">
  <Container>

    <div class="mt-4 mx-auto max-w-4xl rounded-lg p-5 bg-yellow-0 text-black text-4xl font-semibold text-center">
    Bike Bus beginning September 2025!
    <div class="mt-4 mx-auto max-w-4xl rounded-lg p-0">

    <div class="mt-4 mx-auto max-w-4xl rounded-lg p-5 bg-yellow-0 text-black text-3xl font-semibold text-center">
    Coal Route: 1st & 3rd Wednesday of Each Month
    <div class="mt-4 mx-auto max-w-4xl rounded-lg p-0">
    <iframe src="https://www.google.com/maps/d/embed?mid=11-K6jXoFZFfzirVB2IU2cmbklhfPAQU&ehbc=2E312F&noprof=1" width="100%" height="500" allowfullscreen></iframe>
    </div>
    </div>

    <div class="mt-4 mx-auto max-w-4xl rounded-lg p-5 bg-yellow-0 text-black text-3xl font-semibold text-center">
    Iron Route: 2nd & 4th Wednesday of Each Month
    <div class="mt-4 mx-auto max-w-4xl rounded-lg p-0">
    <iframe src="https://www.google.com/maps/d/embed?mid=10xmz1WaEXmRjmdilqju-FYSd3qKdADs&ehbc=2E312F&noprof=1" width="100%" height="500" allowfullscreen></iframe>
    </div>
    </div>

    <div class="mt-4 mx-auto max-w-4xl rounded-lg p-5 bg-yellow-0 text-black text-3xl font-semibold text-center">
    Bike Bus Calendar
    <div class="mt-4 mx-auto max-w-4xl rounded-lg p-0" flex justify-center items-center>
      <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FNew_York&mode=AGENDA&src=NWQxZDMyOWJlM2ViMTQ1MjNhYTNlNTUyZmNlYjk1MWRmMzgxODNmNWU2NzdlOTYyOTZhNGU5YzMzMmI5ODUxM0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=YzczNjEyZTVmNjNjMjMzMmIyZmMwYjc5ZTgwZDc2ZDNlZDI0M2JmY2RjNmVkMjljZDkxYmMwMzQ3NTM4MGYwOEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23f6bf26&color=%23a79b8e" style="border:solid 1px #777" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
    </div>
    
  </Container>
</Layout>
