---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";

// Filter blog entries with 'draft: false' & date before current date
const publishedBlogEntries = await getCollection("blog", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

// Sort content entries by publication date
publishedBlogEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});
---

<Layout title="Blog">
  <Container>

    <div class="mt-4 mx-auto max-w-4xl rounded-lg p-5 bg-yellow-0 text-black text-4xl font-semibold text-center">
    Bike Bus beginning September 2025!
    <div class="mt-4 mx-auto max-w-4xl rounded-lg p-0">

    <div class="mt-4 mx-auto max-w-4xl rounded-lg p-5 bg-yellow-0 text-black text-3xl font-semibold text-center">
    Coal Route: 1st & 3rd Wednesday of Each Month
    <div class="mt-4 mx-auto max-w-4xl rounded-lg p-0">
    <iframe src="https://www.google.com/maps/d/embed?mid=11-K6jXoFZFfzirVB2IU2cmbklhfPAQU&ehbc=2E312F&noprof=1" width="100%" height="500" allowfullscreen></iframe>
    </div>
    </div>

    <div class="mt-4 mx-auto max-w-4xl rounded-lg p-5 bg-yellow-0 text-black text-3xl font-semibold text-center">
    Iron Route: 2nd & 4th Wednesday of Each Month
    <div class="mt-4 mx-auto max-w-4xl rounded-lg p-0">
    <iframe src="https://www.google.com/maps/d/embed?mid=10xmz1WaEXmRjmdilqju-FYSd3qKdADs&ehbc=2E312F&noprof=1" width="100%" height="500" allowfullscreen></iframe>
    </div>
    </div>

    <div class="mt-4 mx-auto max-w-4xl rounded-lg p-5 bg-yellow-0 text-black text-3xl font-semibold text-center">
    Bike Bus Calendar
    <div class="mt-4 mx-auto max-w-4xl rounded-lg p-0" flex justify-center items-center>
      <iframe src="https://calendar.google.com/calendar/embed?src=5d1d329be3eb14523aa3e552fceb951df38183f5e677e96296a4e9c332b98513%40group.calendar.google.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
    </div>
    
  </Container>
</Layout>
