---
import Link from "./ui/link.astro";
---

<!--
<div
  class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Build faster websites.
  </h2>
  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    Pull content from anywhere and serve it fast with Astro's next-gen island
    architecture.
  </p>
  <div class="flex mt-5">
    <Link href="#" style="inverted">Get Started</Link>
  </div>
</div>
-->

<div class="mt-4 mx-auto max-w-4xl rounded-lg p-5 bg-yellow-0 text-black text-3xl font-semibold text-center">
  Coal Route
<div class="mt-4 mx-auto max-w-4xl rounded-lg p-0">
  <iframe src="https://www.google.com/maps/d/embed?mid=11-K6jXoFZFfzirVB2IU2cmbklhfPAQU&ehbc=2E312F&noprof=1" width="100%" height="500" allowfullscreen></iframe>
</div>
</div>

<div class="mt-4 mx-auto max-w-4xl rounded-lg p-5 bg-yellow-0 text-black text-3xl font-semibold text-center">
  Iron Route
<div class="mt-4 mx-auto max-w-4xl rounded-lg p-0">
  <iframe src="https://www.google.com/maps/d/embed?mid=10xmz1WaEXmRjmdilqju-FYSd3qKdADs&ehbc=2E312F&noprof=1" width="100%" height="500" allowfullscreen></iframe>
</div>
</div>

<div class="mt-4 mx-auto max-w-4xl rounded-lg p-5 bg-yellow-0 text-black text-3xl font-semibold text-center">
  Bike Bus Calendar
<div class="mt-4 mx-auto max-w-4xl rounded-lg p-0" flex justify-center items-center>
  <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FNew_York&mode=AGENDA&src=NWQxZDMyOWJlM2ViMTQ1MjNhYTNlNTUyZmNlYjk1MWRmMzgxODNmNWU2NzdlOTYyOTZhNGU5YzMzMmI5ODUxM0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=YzczNjEyZTVmNjNjMjMzMmIyZmMwYjc5ZTgwZDc2ZDNlZDI0M2JmY2RjNmVkMjljZDkxYmMwMzQ3NTM4MGYwOEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23f6bf26&color=%23a79b8e" style="border:solid 1px #777" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
</div>
</div>

<section class="mt-10 mx-auto max-w-4xl p-6 bg-white rounded-lg">
  <h2 class="text-3xl font-bold mb-4">About Us</h2>
  <h3 class="text-2xl font-semibold mb-2">Who We Are</h3>
  <p class="mb-4">We’re Lehighton community supporters who want to make it joyful, fun, and safe to bike to school together. With creativity and courage, we’re determined to make our roads accessible to active transportation. As a community-driven effort, we're always looking for volunteers to help on rides and get the word out about Bike Bus.</p>

  <h3 class="text-2xl font-semibold mb-2">What We Do</h3>
  <ul class="list-disc list-inside mb-4">
    <li>Build community support in town and schools</li>
    <li>Create rider tools, time tables, and routes</li>
    <li>Advise on transportation infrastructure redesign</li>
  </ul>

  <h3 class="text-2xl font-semibold mb-2">What's a Bike Bus?</h3>
  <p class="mb-4">A bike bus is an adult-led scheduled bike ride that follows a specific route and timetable. There are bike buses all over the world. By riding with the Lehighton Bike Bus you’re part of a global movement!</p>

  <h3 class="text-2xl font-semibold mb-2">Want to learn more?</h3>
  <p>The Lehighton Bike Bus is on a mission to make biking together to school joyful, fun, and safe. Download the PDF file to learn more about us, bike safety myths and facts, and read our Bike Bus Pledge, or email us if you have additional questions.
  </p>
  <p>
  <a href="/pdfs/SRTSBikeBusGuide2025.pdf" download class="text-red-800 font-bold ">Bike Bus Info</a>  |  <span class="text-red-800 font-bold">hello@lehightonbikebus.com</span>

</section>


