---
import Link from "./ui/link.astro";
---

<!--
<div
  class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Build faster websites.
  </h2>
  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    Pull content from anywhere and serve it fast with Astro's next-gen island
    architecture.
  </p>
  <div class="flex mt-5">
    <Link href="#" style="inverted">Get Started</Link>
  </div>
</div>
-->

<div class="mt-4 mx-auto max-w-4xl rounded-lg p-5 bg-yellow-0 text-black text-3xl font-semibold text-center">
  Coal Route: 1st & 3rd Wednesday of Each Month
<div class="mt-4 mx-auto max-w-4xl rounded-lg p-0">
  <iframe src="https://www.google.com/maps/d/embed?mid=11-K6jXoFZFfzirVB2IU2cmbklhfPAQU&ehbc=2E312F&noprof=1" width="100%" height="500" allowfullscreen></iframe>
</div>
</div>

<div class="mt-4 mx-auto max-w-4xl rounded-lg p-5 bg-yellow-0 text-black text-3xl font-semibold text-center">
  Iron Route: 2nd & 4th Wednesday of Each Month
<div class="mt-4 mx-auto max-w-4xl rounded-lg p-0">
  <iframe src="https://www.google.com/maps/d/embed?mid=10xmz1WaEXmRjmdilqju-FYSd3qKdADs&ehbc=2E312F&noprof=1" width="100%" height="500" allowfullscreen></iframe>
</div>
</div>

<div class="mt-4 mx-auto max-w-4xl rounded-lg p-5 bg-yellow-0 text-black text-3xl font-semibold text-center">
  Bike Bus Calendar
<div class="mt-4 mx-auto max-w-4xl rounded-lg p-0" flex justify-center items-center>
  <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FNew_York&mode=AGENDA&src=NWQxZDMyOWJlM2ViMTQ1MjNhYTNlNTUyZmNlYjk1MWRmMzgxODNmNWU2NzdlOTYyOTZhNGU5YzMzMmI5ODUxM0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=YzczNjEyZTVmNjNjMjMzMmIyZmMwYjc5ZTgwZDc2ZDNlZDI0M2JmY2RjNmVkMjljZDkxYmMwMzQ3NTM4MGYwOEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23f6bf26&color=%23a79b8e" style="border:solid 1px #777" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
</div>
</div>

<div class="mt-4 mx-auto max-w-4xl rounded-lg p-5 bg-yellow-0 text-black text-3xl font-semibold text-center">
  Click <a href="/src/assets/flyer.png" download class="text-red-600 font-bold">here</a> to download the flyer and spread the word!
</div>

</section>




