<footer class="my-20">
  <section class="mt-10 mx-auto max-w-4xl p-6 bg-white rounded-lg text-center">
  <h2 class="text-2xl font-bold mb-4">Follow Us:</h2>
  <div class="flex justify-center gap-8 mb-2">
    <a href="https://www.instagram.com/lehightonbikebus/" target="_blank" rel="noopener" aria-label="Instagram">
      <img src="/src/assets/instagram.png" alt="Instagram" width="40" height="40" style="border-radius: 8px;" />
    </a>
    <a href="https://www.facebook.com/lehightonbikebus" target="_blank" rel="noopener" aria-label="Facebook">
      <img src="/src/assets/facebook.png" alt="Facebook" width="40" height="40" style="border-radius: 8px;" />
    </a>
  </div>
  </section>  
  
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} Lehighton Bike Bus. All rights reserved.
  </p>

  <!--
  <p class="text-center text-xs text-slate-500 mt-1">
    Made by <a
      href="https://web3templates.com"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Web3Templates
    </a>
  </p>
  -->

</footer>
