---
import { Picture } from "astro:assets";
import BikeBusColor from "@/assets/BikeBusColor.png";
import Link from "@/components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-0 pb-8 md:pt-0 md:pb-24">
  <div class="py-2 md:order-1">
    <Picture
      src={BikeBusColor}
      alt="Lehighton Bike Bus"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Ready to ride?
    </h1>
    <p class="text-4xl mt-4 text-yellow-500 max-w-xl">
      Here's how it works:
    </p>
    <p class="text-2xl mt-4 text-black-600 max-w-xl">
      1. Find your school’s route and schedule below.
    </p>
    <p class="text-2xl mt-4 text-black-600 max-w-xl">
      2. Meet up with the bike bus along the route.
    </p>
    <p class="text-2xl mt-4 text-black-600 max-w-xl">
    Kids ride at their own risk. Parents are encouraged to join for added safety. Parents are responsible for picking up their kids after school.
    </p>
    <p class="text-2xl mt-4 text-yellow-500 max-w-xl">
      Scroll down and visit the "What is a Bike Bus?" tab to learn more! 
    </p>
    </div>
  </div>
</main>
